@model SeatYourself.Models.Occasion

@{
    ViewData["Title"] = "Details";

    // Get enum values as SelectListItems for Category (Used Co-Pilot to help with this)
    var categoryList = Enum.GetValues(typeof(SeatYourself.Models.Occasion.CategoryType))
        .Cast<SeatYourself.Models.Occasion.CategoryType>()
        .Select(e => new SelectListItem
        {
            Value = ((int)e).ToString(),
            Text = e.ToString()
        }).ToList();

    // Get enum values as SelectListItems for Venue (Used Co-Pilot to help with this)
    var venueList = Enum.GetValues(typeof(SeatYourself.Models.Occasion.VenueType))
        .Cast<SeatYourself.Models.Occasion.VenueType>()
        .Select(e => new SelectListItem
        {
            Value = ((int)e).ToString(),
            Text = e.ToString()
        }).ToList();

    var categoryName = categoryList.FirstOrDefault(c => c.Value == Model.Category.ToString())?.Text ?? Model.Category.ToString();
    var venueName = venueList.FirstOrDefault(v => v.Value == Model.Venue.ToString())?.Text ?? Model.Venue.ToString();
}

<h1>Details</h1>

<div>
    <h4>Occasion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @* @Html.DisplayFor(model => model.Category) *@
            @categoryName
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt> *@
        @* <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.Venue) *@
            @* @venueName
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccasionDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.OccasionDate.ToString("d")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccasionTime)
        </dt>
        <dd class = "col-sm-10">
            @Model.OccasionTime.ToString("t")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OccasionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
