@model List<SeatYourself.Models.Occasion>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Upcoming Events</h2>

<div class="row row-cols-1 row-cols-md-2 g-4">
@foreach (var occasion in Model)
{
    var categoryPath = "";
    @switch (occasion.Category)
    {
        case SeatYourself.Models.Occasion.CategoryType.Concert:
            categoryPath = "images/categories/concert.jpg";
            break;
        case SeatYourself.Models.Occasion.CategoryType.Sports:
            categoryPath = "images/categories/stadium.jpg";
            break;
        case SeatYourself.Models.Occasion.CategoryType.Theater:
            categoryPath = "images/categories/theatre.jpg";
            break;
        case SeatYourself.Models.Occasion.CategoryType.Comedy:
            categoryPath = "images/categories/comedian.jpg";
            break;
        default:
            categoryPath = "images/categories/question-mark.jpg";
            break;
    }

    @* <div class="card mb-3 w-50 flex-column mx-3"> *@
        <div class="card mb-3 w-50 mx-2 h-100 border-0">
            <div class="col">
                <div class="card text-white h-100 shadow-sm">

                    <img src="@categoryPath" class="card-img" alt="@occasion.Title" style="object-fit: cover; height: 100%; filter: brightness(0.7);">

                    <div class="card-img-overlay d-flex flex-column justify-content-between p-4">

                        <div class="p-3" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 8px;">
                            <h4 class="card-title">@occasion.Title</h4>
                            <p class="card-text">@occasion.Description</p>
                            <p class="card-text"><small><strong>Date:</strong> @occasion.OccasionDate.ToString("MMMM dd, yyyy")</small></p>
                            <p class="card-text"><small><strong>Time:</strong> @occasion.OccasionTime.ToString("hh:mm tt")</small></p>
                            <p class="card-text"><small><strong>Location:</strong> @occasion.Location</small></p>
                        </div>

                        <div class="text-center mt-3">
                            <a asp-controller="Occasions" asp-action="Details" asp-route-id="@occasion.OccasionId" class="btn btn-primary m-1">View Details</a>
                            <a asp-controller="Tickets" asp-action="Create" asp-route-occasionId="@occasion.OccasionId" class="btn btn-success m-1">Get Tickets</a>
                        </div>

                    </div>
                </div>
            </div>
     </div>

}
</div>